<!DOCTYPE HTML>
<head>
	<meta charset="UTF-8">
	<title></title>
	<link rel="stylesheet" href="js/kalendae.css" type="text/css" charset="utf-8">
<!-- <script src="src/moment.js" type="text/javascript" charset="utf-8"></script>
	<script src="build/kalendae.js" type="text/javascript" charset="utf-8"></script> -->
	<script src="js/kalendae.standalone.js" type="text/javascript" charset="utf-8"></script>
	<style type="text/css" media="screen">
		.kalendae .k-days span.closed {
			background:red;
		}
	</style>
</head>
<body>



	 <input type="text" value="2/16/2012" id="input1">
	<script type="text/javascript" charset="utf-8">
		var k4 = new Kalendae.Input('input1', {
			months:2
		});
	</script>

</body>
</html>
