<div class="row">
<div class="footer">
  <p class="site-link">
  <ul>
    <li><a href = "#">회사소개</a></li>
    <li><a href = "#">개인정보 정책</a></li>
    <li><a href = "#">여행약관</a></li>
    <li><a href = "#">서비스 이용약관</a></li>
    <li><a href = "#">고객센터</a></li>
  </ul>
  </p>


  <p class="site-desc"> 중국:북경시조양구왕징원401번둥아왕징쎈터A좌1909호</p>
  <p class="copy-right">Copyright  &#169;2008-2020 JSB Tour BeiJing.All Rights Reserved. Mail: jsbtour#hotmail.com(#d@)</p>
 <script src="http://s4.cnzz.com/stat.php?id=5431720&web_id=5431720&show=pic" language="JavaScript"></script>
  
</div>
</div>
<!-- /.footer -->
