<!DOCTYPE html>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<title>JSB투어 :: 북경여행,항공티켓,호텔예약</title>
<meta name="Keywords" content="">
<meta name="Description" content="">

<!-- {$t_dir} -->
<link href="{$t_dir}css/reset.css" rel="stylesheet" type="text/css" />
<link href="{$t_dir}css/main_20130319.css" rel="stylesheet" type="text/css" />
<script type="text/javascript" src="{$t_dir}js/jquery-1.7.2.min.js"></script>
<script type="text/javascript" src="{$t_dir}js/ad_photo.js"></script>
</head>
<body>
{include "header.html"}
{include "sidebar.html"}
<div class="rentalcar_main">
  <article class="rentalcar_item"><a class="pic" href="#"><img width="140" height="98" alt="" src="{$t_dir}images/shuaige.png"></img></a>
    <h2><a title="" href="#"> 관광가이드 , 골프가이드, 전시회통역, 일반통역</a></h2>
    <div class="info"><span>좌석수:7인석</span><span>시 간 	10시간 기준</span><span>포함사항 	기름값, 주차비, 고속도로비, 기사</span><span>시내 650원/일당 , 교외 800원/일당</span>
    </div><div class="note">
셋이서 족히 안줄수 있는 랜트카입니다</div> </article>

  <article class="rentalcar_item"><a class="pic" href="#"><img width="140" height="98" alt="" src="{$t_dir}images/meinv.png"></img></a>
    <h2><a title="" href="#"> 관광가이드, 전시회통역, 일반통역</a></h2>
    <div class="info"><span>좌석수:7인석</span><span>시 간 	10시간 기준</span><span>포함사항 	기름값, 주차비, 고속도로비, 기사</span><span>시내 650원/일당 , 교외 800원/일당</span>
    </div><div class="note">
셋이서 족히 안줄수 있는 랜트카입니다</div> </article>

</div>
{include "footer.html"}
</body>
</html>
