<!DOCTYPE html>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<title>JSB투어베이징 :: 북경-자유여행-노쇼핑, 가이드, 통역, 전시회,호텔, 항공권, 차량렌트,중국지식, 공연입장료 등 서비스 안내.</title>
<meta name="Keywords" content="">
<meta name="Description" content="">
<link rel="shortcut icon" type="image/x-icon" href="favicon.ico" />
<!-- {$t_dir} -->
<link href="{$t_dir}css/reset.css" rel="stylesheet" type="text/css" />
<link href="{$t_dir}css/main_20130319.css" rel="stylesheet" type="text/css" />
<script type="text/javascript" src="{$t_dir}js/jquery-1.7.2.min.js"></script>
<script type="text/javascript" src="{$t_dir}js/ad_photo.js"></script>
</head>
<body>
{include "header.html"}
{include "sidebar.html"}
{include "main.html"}
{include "footer.html"}



</body>
</html>

