<!DOCTYPE html>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<title>JSB투어 :: 북경여행,항공티켓,호텔예약</title>
<meta name="Keywords" content="">
<meta name="Description" content="">

<!-- {$t_dir} -->
<link href="{$t_dir}css/reset.css" rel="stylesheet" type="text/css" />
<link href="{$t_dir}css/main_20130319.css" rel="stylesheet" type="text/css" />
<script type="text/javascript" src="{$t_dir}js/jquery-1.7.2.min.js"></script>
<script type="text/javascript" src="{$t_dir}js/ad_photo.js"></script>
</head>
<body>
{include "header.html"}
{include "sidebar.html"}
<div class="golf_main">

<div class="list-view-menu">

<div class="golf-search">
<div class="min-search">
<label></label><input id="filterExclude" type="text" value="" name="ex_q" placeholder="关键字"></input>
<div class="submit"><button id="J_submit">
      검색
    </button><b class="divide"></b></div>
</div>
</div>

<div class="golf-menu">
<ul>
<li><a href="#">종합</a></li>
<li><a href="#">인기</a></li>
<li><a href="#">가격</a></li>
<li><a href="#">종합</a></li>
</ul>
</div>

<div class="golf-sort"></div>
</div>

<div class="golf-banner">안녕하세요 xx님</div>


  <div class="list-view">
    <div class="item">
      <div class="piccon"> <a href="#" rel="{$t_dir}images/1.jpg" class="preview"><img src="{$t_dir}images/1s.jpg"/></a> </div>
      <div class="title">
        <h3 class="summary"><a target="_blank" href="#"> [AKGV60]제주골프 인센티브  !EMS </a></h3>
      </div>
    </div>
    <div class="item">
      <div class="piccon"> <a href="#" rel="{$t_dir}images/2.jpg" class="preview"><img src="{$t_dir}images/2s.jpg"/></a> </div>
            <div class="title">
        <h3 class="summary"><a target="_blank" href="#"> [AKGV61]◐36H◑ 제주골프2일 - 에코랜드골프&리조트 </a></h3>
      </div>
    </div>
    <div class="item">
      <div class="piccon"> <a href="#" rel="{$t_dir}images/3.jpg" class="preview"><img src="{$t_dir}images/3s.jpg"/></a> </div>
            <div class="title">
        <h3 class="summary"><a target="_blank" href="#"> [AKGV62]◐36H◑ 제주골프2일 - 제주그랜드호텔 </a></h3>
      </div>
    </div>
    <div class="item">
      <div class="piccon"> <a href="#" rel="{$t_dir}images/4.jpg" class="preview"><img src="{$t_dir}images/4s.jpg"/></a> </div>
            <div class="title">
        <h3 class="summary"><a target="_blank" href="#"> [AKGV63]◐36H◑ 제주골프2일 - 오리엔탈호텔 </a></h3>
      </div>
    </div>
     <div class="item">
      <div class="piccon"> <a href="#" rel="{$t_dir}images/1.jpg" class="preview"><img src="{$t_dir}images/1s.jpg"/></a> </div>
      <div class="title">
        <h3 class="summary"><a target="_blank" href="#"> [AKGV60]제주골프 인센티브  !EMS </a></h3>
      </div>
    </div>
    <div class="item">
      <div class="piccon"> <a href="#" rel="{$t_dir}images/2.jpg" class="preview"><img src="{$t_dir}images/2s.jpg"/></a> </div>
            <div class="title">
        <h3 class="summary"><a target="_blank" href="#"> [AKGV61]◐36H◑ 제주골프2일 - 에코랜드골프&리조트 </a></h3>
      </div>
    </div>
    <div class="item">
      <div class="piccon"> <a href="#" rel="{$t_dir}images/3.jpg" class="preview"><img src="{$t_dir}images/3s.jpg"/></a> </div>
            <div class="title">
        <h3 class="summary"><a target="_blank" href="#"> [AKGV62]◐36H◑ 제주골프2일 - 제주그랜드호텔 </a></h3>
      </div>
    </div>
    <div class="item">
      <div class="piccon"> <a href="#" rel="{$t_dir}images/4.jpg" class="preview"><img src="{$t_dir}images/4s.jpg"/></a> </div>
            <div class="title">
        <h3 class="summary"><a target="_blank" href="#"> [AKGV63]◐36H◑ 제주골프2일 - 오리엔탈호텔 </a></h3>
      </div>
    </div>
  </div>
</div>
{include "footer.html"}
</body>
</html>
