<!DOCTYPE html>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<title>JSB투어 :: 북경여행,항공티켓,호텔예약</title>
<meta name="Keywords" content="">
<meta name="Description" content="">
<!--判断是否登陆{if $login_status}-->
<meta http-equiv="refresh" content="2;URL=index.php">
<!--{/if}-->
<!-- {$t_dir} -->
<link href="{$t_dir}css/reset.css" rel="stylesheet" type="text/css" />
<link href="{$t_dir}css/main_20130319.css" rel="stylesheet" type="text/css" />
<script type="text/javascript" src="{$t_dir}js/jquery-1.7.2.min.js"></script>
<script type="text/javascript" src="{$t_dir}js/ad_photo.js"></script>
</head>
<body>
{include "header.html"}
<div class="row">
  <div class="main_problem">
    <div class="problem_wrapper"><!-- 包装 -->
      <ol class="nav">
        <li class="left">
					<dl>
						<dd class="current"><strong><a href="/" hidefocus="">전체</a></strong></dd>
																		<dd><strong><a href="/?cat=myfunshion" hidefocus="">예약의문</a></strong></dd>
																								<dd><strong><a href="/?cat=suggest" hidefocus="">건의/의견</a></strong></dd>
																								<dd><strong><a href="/?cat=question" hidefocus="">기타의문</a></strong></dd>
																								<dd><strong><a href="/?cat=yingshi" hidefocus="">여행후기</a></strong></dd>
																													</dl>
				</li>
        <li class="right"> 
					<div class="posi">
						<a href="/" hidefocus="" class="lf current">전체</a>
						<a href="/?elite=1" hidefocus="" class="rg ">완료</a>
					</div>
				 </li>
      </ol>
      <ul>
        <li class="i"><a class="help" target="_blank" href="/post/100089" title="问题求助"> 의문/건의 </a></li>
        <li class="t"> <span class="red"> [TOP] </span><a href="/post/100089"> 자주보는문제 </a><span class="hfp"> - <a href="http://www.funshion.com/home_profile/6826766"> 운영자 </a><span> 5-20 21:20 </span></span> </li>
        <li class="v"><var class="vc"><em><a href="/post/100089"> 1234/536465 </a></em></var></li>
        <i class="rond tl"></i><i class="rond tr"></i><i class="rond bl"></i><i class="rond br"></i>
      </ul>
            <ul>
        <li class="i"><a class="help" target="_blank" href="/post/100089" title="问题求助"> 用户提出建议 </a></li>
        <li class="t"> <span class="red"> [TOP] </span><a href="/post/100089"> 자주보는문제 </a><span class="hfp"> - <a href="http://www.funshion.com/home_profile/6826766"> 운영자 </a><span> 5-20 21:20 </span></span> </li>
        <li class="v"> … </li>
        <i class="rond tl"></i><i class="rond tr"></i><i class="rond bl"></i><i class="rond br"></i>
      </ul>
                  <ul>
        <li class="i"><a class="help" target="_blank" href="/post/100089" title="问题求助"> 用户提出建议 </a></li>
        <li class="t"> <a href="/post/100089"> 자주보는문제 </a><span class="hfp"> - <a href="http://www.funshion.com/home_profile/6826766"> 운영자 </a><span> 5-20 21:20 </span></span> </li>
        <li class="v"> … </li>
        <i class="rond tl"></i><i class="rond tr"></i><i class="rond bl"></i><i class="rond br"></i>
      </ul>                  <ul>
        <li class="i"><a class="help" target="_blank" href="/post/100089" title="问题求助"> 用户提出建议 </a></li>
        <li class="t"> <a href="/post/100089"> 자주보는문제 </a><span class="hfp"> - <a href="http://www.funshion.com/home_profile/6826766"> 운영자 </a><span> 5-20 21:20 </span></span> </li>
        <li class="v"> … </li>
        <i class="rond tl"></i><i class="rond tr"></i><i class="rond bl"></i><i class="rond br"></i>
      </ul>                  <ul>
        <li class="i"><a class="help" target="_blank" href="/post/100089" title="问题求助"> 用户提出建议 </a></li>
        <li class="t"> <a href="/post/100089"> 자주보는문제 </a><span class="hfp"> - <a href="http://www.funshion.com/home_profile/6826766"> 운영자 </a><span> 5-20 21:20 </span></span> </li>
        <li class="v"> … </li>
        <i class="rond tl"></i><i class="rond tr"></i><i class="rond bl"></i><i class="rond br"></i>
      </ul>
                  <ul>
        <li class="i"><a class="help" target="_blank" href="/post/100089" title="问题求助"> 用户提出建议 </a></li>
        <li class="t"> <a href="/post/100089"> 자주보는문제 </a><span class="hfp"> - <a href="http://www.funshion.com/home_profile/6826766"> 운영자 </a><span> 5-20 21:20 </span></span> </li>
        <li class="v"> … </li>
        <i class="rond tl"></i><i class="rond tr"></i><i class="rond bl"></i><i class="rond br"></i>
      </ul>
    </div>
  </div>
</div>
{include "footer.html"}
</body>
</html>
