<!DOCTYPE html>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<title>JSB투어 :: 북경여행,항공티켓,호텔예약</title>
<meta name="Keywords" content="">
<meta name="Description" content="">

<!-- {$t_dir} -->
<link href="{$t_dir}css/reset.css" rel="stylesheet" type="text/css" />
<link href="{$t_dir}css/main_20130319.css" rel="stylesheet" type="text/css" />
<script type="text/javascript" src="{$t_dir}js/jquery-1.7.2.min.js"></script>
<script type="text/javascript" src="{$t_dir}js/ad_photo.js"></script>
</head>
<body>
{include "header.html"}
{include "sidebar.html"}
<div class="rentalcar_main">
  <article class="rentalcar_item"><a class="pic" href="#"><img width="140" height="98" alt="" src="{$t_dir}images/caca.jpg"></img></a>
    <h2><a title="" href="#"> 스타렉스 ( HYUNDAI - FEFINE ) </a></h2>
    <div class="info"><span>좌석수:7인석</span><span>시 간 	10시간 기준</span><span>포함사항 	기름값, 주차비, 고속도로비, 기사</span><span>시내 650원/일당 , 교외 800원/일당</span>
    </div><div class="note">
셋이서 족히 안줄수 있는 랜트카입니다</div> </article>

  <article class="rentalcar_item"><a class="pic" href="#"><img width="140" height="98" alt="" src="{$t_dir}images/car2.jpg"></img></a>
    <h2><a title="" href="#">현대 쏘 나 타 ( HYUNDAI -- SONATA )</a></h2>
    <div class="info"><span>좌석수:7인석</span><span>시 간 	10시간 기준</span><span>포함사항 	기름값, 주차비, 고속도로비, 기사</span><span>시내 650원/일당 , 교외 800원/일당</span>
    </div><div class="note">
셋이서 족히 안줄수 있는 랜트카입니다</div> </article>

  <article class="rentalcar_item"><a class="pic" href="#"><img width="140" height="98" alt="" src="{$t_dir}images/car3.jpg"></img></a>
    <h2><a title="" href="#">폭스바겐 ( VOLKSWAGEN -- LAVIDA )</a></h2>
    <div class="info"><span>좌석수:7인석</span><span>시 간 	10시간 기준</span><span>포함사항 	기름값, 주차비, 고속도로비, 기사</span><span>시내 650원/일당 , 교외 800원/일당</span>
    </div><div class="note">
셋이서 족히 안줄수 있는 랜트카입니다</div> </article>

  <article class="rentalcar_item"><a class="pic" href="#"><img width="140" height="98" alt="" src="{$t_dir}images/car4.jpg"></img></a>
    <h2><a title="" href="#">혼 다 ( HONDA – ACCORD )</a></h2>
    <div class="info"><span>좌석수:7인석</span><span>시 간 	10시간 기준</span><span>포함사항 	기름값, 주차비, 고속도로비, 기사</span><span>시내 650원/일당 , 교외 800원/일당</span>
    </div><div class="note">
셋이서 족히 안줄수 있는 랜트카입니다</div> </article>

  <article class="rentalcar_item"><a class="pic" href="#"><img width="140" height="98" alt="" src="{$t_dir}images/car5.jpg"></img></a>
    <h2><a title="" href="#">오 우 디 ( VOLKSWAGEN -- AUDI A8 )</a></h2>
    <div class="info"><span>좌석수:7인석</span><span>시 간 	10시간 기준</span><span>포함사항 	기름값, 주차비, 고속도로비, 기사</span><span>시내 650원/일당 , 교외 800원/일당</span>
    </div><div class="note">
셋이서 족히 안줄수 있는 랜트카입니다</div> </article>

  <article class="rentalcar_item"><a class="pic" href="#"><img width="140" height="98" alt="" src="{$t_dir}images/car6.jpg"></img></a>
    <h2><a title="" href="#">뷰 익 ( GM – BIUCK-GL8 )</a></h2>
    <div class="info"><span>좌석수:7인석</span><span>시 간 	10시간 기준</span><span>포함사항 	기름값, 주차비, 고속도로비, 기사</span><span>시내 650원/일당 , 교외 800원/일당</span>
    </div><div class="note">
셋이서 족히 안줄수 있는 랜트카입니다</div> </article>

 <article class="rentalcar_item"><a class="pic" href="#"><img width="140" height="98" alt="" src="{$t_dir}images/car7.jpg"></img></a>
    <h2><a title="" href="#">도 유 타 ( TOYOTA ) 소형뻐스</a></h2>
    <div class="info"><span>좌석수:7인석</span><span>시 간 	10시간 기준</span><span>포함사항 	기름값, 주차비, 고속도로비, 기사</span><span>시내 650원/일당 , 교외 800원/일당</span>
    </div><div class="note">
셋이서 족히 안줄수 있는 랜트카입니다</div> </article>

 <article class="rentalcar_item"><a class="pic" href="#"><img width="140" height="98" alt="" src="{$t_dir}images/car8.jpg"></img></a>
    <h2><a title="" href="#">KING LONG ( 중형관광뻐스 )</a></h2>
    <div class="info"><span>좌석수:7인석</span><span>시 간 	10시간 기준</span><span>포함사항 	기름값, 주차비, 고속도로비, 기사</span><span>시내 650원/일당 , 교외 800원/일당</span>
    </div><div class="note">
셋이서 족히 안줄수 있는 랜트카입니다</div> </article>

 <article class="rentalcar_item"><a class="pic" href="#"><img width="140" height="98" alt="" src="{$t_dir}images/car9.jpg"></img></a>
    <h2><a title="" href="#">KING LONG ( 대형관광뻐스)</a></h2>
    <div class="info"><span>좌석수:7인석</span><span>시 간 	10시간 기준</span><span>포함사항 	기름값, 주차비, 고속도로비, 기사</span><span>시내 650원/일당 , 교외 800원/일당</span>
    </div><div class="note">
셋이서 족히 안줄수 있는 랜트카입니다</div> </article>

</div>
{include "footer.html"}
</body>
</html>
