<!DOCTYPE html>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<title>JSB투어 :: 북경여행,항공티켓,호텔예약</title>
<meta name="Keywords" content="">
<meta name="Description" content="">

<!-- {$t_dir} -->
<link href="{$t_dir}css/reset.css" rel="stylesheet" type="text/css" />
<link href="{$t_dir}css/main_20130319.css" rel="stylesheet" type="text/css" />
<script type="text/javascript" src="{$t_dir}js/jquery-1.7.2.min.js"></script>
<script type="text/javascript" src="{$t_dir}js/ad_photo.js"></script>
<script type="text/javascript" src="ckeditor/ckeditor.js"></script>
<script type="text/javascript" src="{$t_dir}js//jquery.boxy.js"></script>
</head>
<body>
{include "header.html"}
{include "sidebar.html"}
<div class="notice_write">
<div class="notice_title"> </div>
<HR style="border:1 dashed #987cb9" width="90%" color=#987cb9 SIZE=1>
<div class="notice_content">
<form action="?type=newpost" method="post"> 
  <table width="725" border="1">
    <tr>
      <td width="100" style="padding-bottom:10px;"><select name="post_type" id="select" >
       <option selected="selected" value="0">&nbsp;분류선택&nbsp;</option>
       <option value="1">&nbsp;공지사항&nbsp;</option>
       <option value="2">&nbsp;여행지식&nbsp;</option>
       <option value="3">&nbsp;질문답변&nbsp;</option>
       <option value="4">&nbsp;여행후기&nbsp;</option>
       <option value="5">&nbsp;토론방&nbsp;</option>
      </select></td>
      <td width="233"><input type="text" name="post_title" id="textfield"  maxlength="80" style ="width:300px;"></td>
      <td width="534">쓸수있는 글자수 80</td>
    </tr>
    <tr>
      <td colspan="3">  <textarea id="editor_id" name="post_editor" style="width:700px;height:300px;">
</textarea></td>
    </tr>
    <tr>
      <td colspan="3">&nbsp;</td>
    </tr>
  </table>
  <script charset="utf-8" src="kindeditor-4.1.7/kindeditor.js"></script>
<script charset="utf-8" src="kindeditor-4.1.7/lang/ko.js"></script>
<script>
       var editor;
        KindEditor.ready(function(K) {
                editor = K.create('#editor_id', {
                        langType : 'ko'
                });
        });
</script>
  
  <INPUT type=image height=26 width=88  style="margin-left:250px;"
                  src="{$t_dir}images/ok.png">
                  
                    <INPUT type=image height=26 width=88  style="margin-left:10px;"
                  src="{$t_dir}images/cancel.png">
  </form>
  <br />
</div>


{include "footer.html"}
</body>
</html>
